[[a:

<center>
	<img src='img.jpg' style='max-width:80%;' />
</center>
<br />
La <strong>rue Tronchet</strong> a été ouverte en 1824 jusqu'à la <strong>rue des Mathurins</strong> sur les terrains du couvent des Bénédictines de la Ville l'Évêque, supprimé en 1791, et de la ferme des Mathurins. Elle fut prolongée en 1858 jusqu'au <strong>boulevard Haussmann</strong> en faisant disparaître une section de l'ancienne rue de la Ferme-des-Mathurins (actuelle <strong>rue Vignon</strong>), pour prendre en compte la décision de construire la nouvelle gare de Paris-Saint-Lazare non pas place de la Madeleine, comme cela avait été initialement envisagé (cf. gare de la Madeleine), mais plus au nord.
<br /><br />

Elle a reçu son nom en mémoire de François Denis Tronchet (1723-1806) qui fut l'un des défenseurs de Louis XVI lors de son procès sous la Révolution française.

:]]